

.tour__img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card {
    border: none;
    box-shadow: rgba(0, 0, 0.2) 0px 18px 50px -10px;
}

.tour__img {
    position: relative;
}

.tour__img span {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: max-content;
    height: max-content;
    z-index: 10;
    background: var(--primary-color);
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 3px 0 0 0;
}

.card__top {
    color: var(--secondary-color);
}

.tour__rating {
    font-size: .9em;
    color: var(--text-color);
}

.tour__location {
    color: var(--heading-color);
    font-weight: 500;
    font-size: .9em;
}

.tour__rating i,
.tour__location i {
    font-size: 1rem;
}